<!-- stylesheet -->
<link rel="stylesheet" href="/assets/css/comment.css">
<!-- for IE support -->
<!--[if lte IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
<![endif]-->
<!-- javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
<!-- loading spin indicator(optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<!-- syntax highlighting(optional) -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script type="text/javascript">
  marked.setOptions({
  highlight: function (code, lang) {
     return hljs.highlightAuto(code).value;
  }
  });
  function Highlighting(){
    var markdowns = document.getElementsByClassName('markdown');
    for(var i=0;i<markdowns.length;i++){
       if(markdowns[i].innerHTML) markdowns[i].innerHTML =marked(markdowns[i].innerHTML);
    }
  }
  window.addEventListener('DOMContentLoaded', Highlighting, false);
  window.addEventListener('load', Highlighting, false);
</script>
<!-- comment.js -->
<script src="/assets/js/src/comment.js"></script>


<div id="posts" class="posts-expand">
  {% assign post = page %}
  {% include _macro/post.html %}
  <div class="post-spread">
    {% if site.jiathis %}
      {% include _partials/share/jiathis.html %}
    {% elsif site.baidushare %}
      {% include _partials/share/baidushare.html %}
    {% elsif site.add_this_id %}
      {% include _partials/share/add-this.html %}
    {% elsif site.duoshuo_shortname and site.duoshuo_share %}
      {% include _partials/share/duoshuo_share.html %}
    {% endif %}
  </div>
</div>
<div id="comment-thread"></div>
<div id="loading-spin"></div>
<script type="text/javascript">
   getComments({
       type: "github",
       user: "MarkRepo",
       repo: "MarkRepo.github.io",
       no_comment: "No comments yet. Press the button and go to comment now!",
       go_to_comment: "去留言",
       issue_title: "{{ post.title }}",
       //issue_id: "{{ post.issue_id }}",
       btn_class: "btn",
       comments_target: "#comment-thread",
       loading_target: "#loading-spin",
       client_id: "899ae4e83907f8784dde",
       client_secret: "52c8f2597666f876cc1a9a648c8f5108bac799fd"
   });
   //getComments(opt);
</script>
